<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Bell Perfect</name>

    <description>
        Asesoría. 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Laura Urrego
    </author>
    <icon src="icons/android/icono36.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/android/icono48.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/icono72.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/icono128.png" gap:platform="android" gap:density="xhdpi" />

</widget>